body {
  background-color: white;
  padding: 0%;
}

#fb {
  font-size: 50px;
  color: #4267B2;
  padding: 0%;
  margin: 0%;
  border: 0%;
}

#caption {
  font-size: larger;
  padding: 0%;
  border: 0%;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 50% 0;
  font-size: large;
  justify-content: center;
}

.LogIn {
  width: 50%;
  color: white;
  background-color: #4267B2;
  border: hidden;
  border-radius: 4px;
}

.Newaccount {
  width: 50%;
  padding: 2%;
  color: white;
  background-color: green;
  border: hidden;
  border-radius: 4px;
  align-items: center;
}

.form {
  width: 400px;
  font-size: 12px;
  box-shadow: 3px 3px 3px 3px;
  border: 2px;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin: 20px;
}